@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0px; 
}


::-webkit-scrollbar-track {
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

::selection{
  background-color: #685CFE;
  color: white;
}

.whatsapp::selection{
  background-color: green;
  color: white;
}

.gmail::selection{
  background-color: rgb(255, 115, 115);
  color: white;
}

.whitespace-nowrap {
  white-space: nowrap;
 }
 
 .text-overflow-ellipsis {
  text-overflow: ellipsis;
 }
 

 .ql-toolbar{
  background-color: #a9a2ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }

 .ql-container{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 }

 .ql-editor{
  height: 200px;
 }